---
interface Props {
  title: string;
}

const DESCRIPTION =
  "United Cleaning specializes in kitchen exhaust systems & equipment pressure washing since 1992.";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content="https://unitedcleaningcorp.com" />
    <meta property="og:site_name" content={title} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Bell MT", "Charter", serif;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2em;
    margin: auto;
    width: 820px;
    max-width: calc(100% - 2rem);
    color: rgb(38, 38, 38);
    background: #cacbcc;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  a {
    color: rgb(38, 38, 38);
    font-weight: 600;
  }
</style>
